<!DOCTYPE html>
<html>
    <head>
        <title>Cars</title>
    </head>
    <body>
        <h1>Cars</h1>
        <ol>
            <h1><%= car.name %></h1>
            <img width="25%" src = <%= car.img %>>
            <% car.desc.forEach(function(item){ %>
                <ul><%= item %></ul>
            <% }); %>
            <h3>Cost: <%= car.cost %></h3>
        </ol>
        <a href="/car">Back</a>
    </body>
</html>